<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" tools:node="remove" />

    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />
    <application
        android:name="com.one.vpnapp.MainApplication"
        tools:replace="android:name">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${ADMOB_APP_ID}" />

        <activity
            android:name="com.one.vpnapp.ui.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeDayNight.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2ray.ang.ui.MainActivity"
            tools:node="remove" />
    </application>
</manifest>